body {font-family: "Lato", Helvetica, arial; font-size: 32px; line-height: 1.2;}
h1 {font-weight: 700;}
#newer {font-size: 55%; margin-right: 1em;}
#older {font-size: 55%; margin-left: 1em;}
.tiny {font-size: 60%;}
.u-tiny {font-size: 50%;}
.color-dark {color: #5c6c84;}
.color-sumi {color: #c0c0c0;}
.right {text-align: right; float: right;}
a {color: #3b5998;}
a.icon {color: #909090;}
a.icon:hover {color: #90909f;}
a.icon:visited {color: #909090;}
a.logo {color: #2a313c;}
a.logo:hover {color: #90909f; text-decoration: none;}
a.logo:visited {color: #2a313c;}
a.other-site {color: #777; font-size: 60%; text-decoration: underline;}
.baseurl {color: #375eab; font-size: 55%;}
.via {color: #c0c0c0; font-size: 55%;}
.via-site {color: #a6a6a6; font-size: 55%;}
.link-tiny-hot {color: #ffd700; font-size: 55%;}
.link-hot {color: #ff8c00; font-size: 55%;}
.link-super-hot {color: #dc143c; font-size: 55%;}
.date {color: #a6a6a6; font-size: 55%;}
.container {max-width: 900px; font-weight: 550;}
.article {font-weight: 550; margin-bottom: 1.5em;}
.news-contents {font-size: 65%; color: #9f9f9f; margin-top: 5px;}
.hr-short {margin: 0 5em;}
#footer {border-top: 1px solid rgba(47, 52, 64, 0.1); display: block; maargin: 0 auto;}
.footer-content {
    font-size: 45%;
    color: #2a313c;
    margin: 15px 10px;
    text-align: right;
}
.daily-navigation {margin: .1em 0 .45em 0;}
