<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery.js"></script>
<!--<link rel="stylesheet" href="/static/style.css" type="text/css">-->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400,900" type="text/css">
<link rel="stylesheet" href="/static/style.css" type="text/css">
<link rel="alternate" type="application/rss+xml" href="http://goz.hexacosa.net/index.rss" title="goz - Go's news" />
<title>{{.title}}</title>
</head>

<body>
<div class="container">
  <div>
      <h1><a class="logo" href="/">goz <small>Go's News</small></a>&nbsp;&nbsp;{{ if .daily }}<span class="color-sumi u-tiny">daily summary</span>{{ end }}
      <span style="float:right;font-size:70%;margin-top:0.5em;">
        <a class="other-site" href="http://eoz.hexacosa.net/">Erlang</a>&nbsp;
        <a class="other-site" href="http://roz.hexacosa.net/">Rust</a>&nbsp;
        <a class="icon" href="/index.rss"><i class="fa fa-rss fa-fw"></i></a></span>
  </h1>
  </div>
  <div style="clear:right;">
  </div>
    {{ if .daily }}
    <span class="color-dark tiny right">&nbsp;&nbsp;<strong>{{.start}}</strong></span>
    {{ else }}
    <span class="color-dark tiny right">&nbsp;&nbsp;<strong>{{.start}}</strong> // <strong>{{.end}}</strong></span>
    {{ end }}
    <hr/>
    {{range .article}}
    <div class="article">
        <span class="date">{{.Created.UTC.Format "2006-01-02"}}</span> <span class="via">via</span> <span class="via-site">{{.Via}}</span>
        {{ if ge .Picks 5 }}
        <span class="link-tiny-hot" title="{{.Picks}}"><i class="fa fa-bolt"></i></span>
        {{ else if ge .Picks 25 }}
        <span class="link-hot" title="{{.Picks}}"><i class="fa fa-bolt"></i></span>
        {{ else if ge .Picks 50 }}
        <span class="link-super-hot" title="{{.Picks}}"><i class="fa fa-bolt"></i></span>
        {{ else }}
        {{ end }}<br/>
        <a class="picks" href="{{.Url}}" target="_blank">{{.Title}}</a>&nbsp;&nbsp;<span class="baseurl">[{{.Url|baseurl}}]</span><br/>
        <div class="news-contents">{{.Content}}</div>
    </div>
    {{end}}

  {{ if .daily }}
  <hr class="hr-short" />
  <div class="daily-navigation" style="text-align:center;">
    <span id="newer">{{ if eq .nextDay "" }}&nbsp;{{else}}<a href="{{.nextDay}}" title="{{.nextDay}}"><i class="fa fa-chevron-left"></i> Newer</a>{{end}}</span>
    <span id="older">{{ if eq .prevDay "" }}&nbsp;{{else}}<a href="{{.prevDay}}" title="{{.prevDay}}">Older <i class="fa fa-chevron-right"></i></a>{{end}}</span>
  </div>
  {{ end }}

</div>

<div id="footer">
  <div class="container">
      <div class="footer-content">
      © 2015 Goz Team
      </div>
  </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-11491427-3', 'auto');
  ga('send', 'pageview');

</script>

<script>
$picks = $('.picks').click(function() {
  $.ajax({
    type: "POST",
    url: "/picks",
	data: {"url": $(this).attr('href')},
	dataType: "json",
    async: true
  });
});
</script>

</body>
</html>
